div.lifestream { margin-bottom: 10px; }

/* tabs */
div.lifestream dl.tabs {
	float: left;
	margin: 10px 0 -1px 10px;
	z-index: 50;
}

div.lifestream dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border-left: 1px solid #4D6178;
	border-right: 1px solid #4D6178;
	border-top: 1px solid #4D6178;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	margin-left: 3px;
	background: #C5CBD1;
	color: #333;
}

div.lifestream dl.tabs dt.open {
	background: #D9DADB;
	border-bottom: 1px solid #D9DADB;
	z-index: 100;
	color: #111;
}

div.lifestream div.current {
	clear: both;
	border: none;
	padding: 0;
}

div.lifestream div.current dd {
	padding: 0;
	margin: 0;
}

/* Columns */

div.lifestream div.cols_2 { float: left; width: 48%; padding: 1%; }
div.lifestream div.cols_3 { float: left; width: 32%; padding: 1%; }
div.lifestream div.cols_4 { float: left; width: 24%; padding: 1%; }
div.lifestream div.cols_5 { float: left; width: 19%; padding: 1%; }
div.lifestream div.cols_6 { float: left; width: 15%; padding: 1%; }
.clear { clear: both; }

/* Stream styles */

div.lifestream ul.stream {
	padding: 10px 10px 0 10px;
	list-style: none;
	margin: 0;
	border: 1px solid #4D6178;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #4c4c4c;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.11, #C2C7CC), color-stop(1, #D9DADB));
	background: -moz-linear-gradient( center bottom, #C2C7CC 11%, #D9DADB 100% );
	color: #111;
}
div.lifestream ul.stream li {
	padding: 5px;
	line-height: 1.5em;
	border: 1px solid #4D6178;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: 0px;
	background: #222;
	background: -webkit-gradient( linear, left bottom, left top, color-stop(0.11, #C2C7CC), color-stop(1, #D9DADB));
	background: -moz-linear-gradient( center bottom, #C2C7CC 11%, #D9DADB 100% );
}
div.lifestream ul.stream a { color: #8DA6C4; display: inline; }
div.lifestream ul.stream span.icon { display: block; float: left; margin-right: 10px; }
div.lifestream ul.stream span.item {  }
div.lifestream ul.stream li small { display: block; text-align: right; clear: both; }