@import 'https://fonts.googleapis.com/css?family=Arimo:400,400i,700';

/* Bootstrap
 ========================================================================== */

.dropdown-menu {
	.border-radius(0);
	border: none;
}

.navbar .nav > li > a {
	text-shadow: none;
}

/* Header
 ========================================================================== */

#header {
	margin-top: 30px;
}

.wrapper-menu {
	background: @color_two;

	#menu {
		margin-bottom: 0;

		.navbar {
			margin-bottom: 0;
		}
	}
}

.wrapper-menu,
#header,
#featured,
#grid-top,
#main-content,
#breadcrumbs,
#grid-bottom,
#grid-bottom2,
#bottom-menu {
	margin-bottom: 30px;
}