/* @override http://localhost:8888/sandbox15/templates/js_community/css/core.css */

/*@override http://localhost:80/community_new/templates/js_community/css/core.css
OVERRIDE GLOBALS*/
HTML, BODY, DIV, SPAN, APPLET, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, BIG, CITE, CODE, DEL, DFN, EM, FONT, IMG, INS, KBD, Q, S, SAMP, SMALL, STRIKE, STRONG, SUB, SUP, TT, VAR, B, U, I, CENTER, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
BODY {line-height: 1;}
OL, UL {list-style: none;}
BLOCKQUOTE, Q {quotes: none;}
BLOCKQUOTE:before, BLOCKQUOTE:after, Q:before, Q:after {content: '';content: none;}
:focus {outline: 0;}
INS {text-decoration: none;}
DEL {text-decoration: line-through;}
TABLE {border-collapse: collapse;border-spacing: 0;}
/*TYPOGRAPHY GLOBALS*/
BODY {font: 13px/1.5 "Lucida Grande", Lucida, Verdana, sans-serif;}
A:focus {outline: 1px dotted #000000;}
HR {border: 0 solid #CCC;border-top-width: 1px;clear: both;height: 0;}
H1 {font-size: 25px;}
H2 {font-size: 23px;}
H3 {font-size: 21px;}
H4 {font-size: 19px;}
H5 {font-size: 17px;}
H6 {font-size: 15px;}
OL {list-style: decimal;}
UL {list-style: disc;}
LI {margin-left: 30px;}
P, DL, HR, H1, H2, H3, H4, H5, H6, OL, UL, PRE, TABLE, ADDRESS, FIELDSET {margin-bottom: 20px;}
/*@group Joomla Column Overrides*/
DIV.article-icons {float: right;overflow: hidden;}
#emailForm DIV.contact_email {padding-left: 40px;}
#bottom UL.menu SPAN.separator, #leftcol UL.menu SPAN.separator, #rightcol UL.menu SPAN.separator {display: none;}
.article_row {clear: both;overflow: hidden;margin: 0;padding: 0;}
/*@group Joomla Specific Styles Login Module*/
A.forgotpass, A.forgotuser, A.regusr {line-height: 20px;padding-left: 19px;}
#form-login UL LI {line-height: 0;list-style: none;margin: 0;padding: 0;}
A.forgotpass {background: url(../images/icon_assets.gif) no-repeat 0 -30px;}
A.forgotuser {background: url(../images/icon_assets.gif) no-repeat 0 -90px;}
A.regusr {background: url(../images/icon_assets.gif) no-repeat 0 -60px;}
div.part {padding:1px;}
DIV.contentpaneopen, TABLE.contentpaneopen TD.buttonheading, TABLE.blog TABLE.contentpaneopen TD.buttonheading {margin: 0;padding: 0;}
DIV.mosimage {margin: 5px;}
.pagenav {padding: 3px 5px 3px 3px;}
.small, .createdate, .modifydate {font: 11px Tahoma;}
TABLE.contenttoc {float: right;margin: 5px;padding: 1px;}
TABLE.contenttoc TH {padding: 2px 10px;}
TABLE.contenttoc TD {font-size: 0.9em;font-weight: 400;text-align: left;padding: 2px 0 2px 4px;}
TABLE.contenttoc A {text-decoration: none;line-height: 1em;}
TABLE.contentpane, TABLE.contentpaneopen {width: 100%;margin: 0 auto;padding: 0;}
TD.nw {white-space: nowrap;}
TD.w5 {width: 5%;}
TD.w10 {width: 10%;}
TD.w15 {width: 15%;}
TD.w20 {width: 20%;}
TD.w25 {width: 25%;}
TD.w40 {width: 40%;}
TD.w45 {width: 40%;}
TD.w60 {width: 60%;}
TD.w90 {width: 90%;}
TD.w100, TABLE.w100 {width: 100%;margin: 0 auto;}
TABLE.blog TABLE.contentpaneopen TD {padding: 0 4px;}
/*Header for table content*/
TD.sectiontableheader {font-weight: 700;padding: 8px;}
/*Alternating table rows*/
TR.sectiontableentry1 TD, TD.sectiontableentry1 {padding: 6px;}
TR.sectiontableentry2 TD, TD.sectiontableentry2 {padding: 6px;}
/*Article Overflow*/
DIV.blog_more UL, DIV.blog_more UL LI {list-style: none;margin: 0;}
DIV.blog_more UL LI A {background: url(../images/icon_assets.gif) no-repeat 0 -115px;text-decoration: none;display: block;height: 20px;padding: 4px 4px 4px 15px;}
DIV.blog_more UL LI A:hover {text-decoration: none;}
TD.article_column.column_separator {padding-left: 4px;padding-right: 0;}
TD.article_column {padding: 4px;}
/*System Messages*/
#system-message UL LI {list-style: none;margin-left: 40px;padding: 10px;}
#system-message DD {font-weight: 700;text-indent: 30px;margin: 0;}
#sys_messages {margin: 0;}
.designer A {cursor: pointer;text-indent: -5000em;display: block;float: right;width: 75px;height: 12px;background: url(../images/jscright.png) no-repeat left top;position: relative;left: -5px;}
/*Additional 1.5 Stuff  Added _menu and _text module suffix styles above for better cooperation of default content*/
.module_menu UL, .module_menu UL LI {margin-left: 0;}
A IMG {border: none;}
FORM#form-login FIELDSET {border: none;margin: 0;padding: 0;}
#form-login UL {margin: 0;padding: 0;}
DIV.banneritem A, DIV.banneritemS1 A, DIV.banneritemS2 A, DIV.banneritemS3 A, DIV.banneritemS4 A, DIV.banneritemS5 A, DIV.banneritem_text A {font: 11px/16px Arial, Helvetica, Geneva, sans-serif;font-weight: 700;}
DIV.banneritem, DIV.banneritemS1, DIV.banneritemS2, DIV.banneritemS3, DIV.banneritemS4, DIV.banneritemS5, DIV.banneritem_text {font: 11px/12px Arial, Helvetica, Geneva, sans-serif;}
TD.buttonheading {vertical-align: top;border-collapse: collapse;margin: 0;padding: 0;}
TD.buttonheading IMG {margin: 1px;padding: 0;}
/*Frontend Editing*/
FIELDSET {margin-top: 5px;padding: 5px;}
LEGEND {margin: 0;padding: 0 10px;}
TD.key {border-bottom: 1px solid #EEE;color: #666;}
/*Tooltips*/
.tool-tip {float: left;background: #FFC;border: 1px solid #D4D5AA;max-width: 200px;padding: 5px;}
.tool-title {font-size: 100%;font-weight: 700;background: url(../../system/images/selector-arrow.png) no-repeat;margin: -15px 0 0;padding: 15px 0 5px;}
.tool-text {font-size: 100%;margin: 0;}
TD.sectiontableheader A {text-decoration: none;}
TABLE.contentpane {width: 100%;}
/*OpenID icon style*/
INPUT.system-openid, INPUT.com-system-openid {background: url(http://openid.net/images/login-bg.gif) no-repeat;background-color: #FFF;background-position: 0 50%;color: #000;padding-left: 18px;}
/*Unpublished*/
.system-unpublished {background: #E8EDF1;border-top: 4px solid #C4D3DF;border-bottom: 4px solid #C4D3DF;}
/*System Messages*/
#system-message {margin-bottom: 20px;padding: 0;}
#system-message DT {font-weight: 700;}
#system-message DD UL {background: #C3D2E5 url(../../system/images/notice-info.png) no-repeat 4px center;color: #05B;margin-bottom: 10px;list-style: none;border-top: 3px solid #84A7DB;border-bottom: 3px solid #84A7DB;}
/*System Standard Messages*/
#system-message DT.message {display: none;}
/*System Error Messages*/
#system-message DT.error {display: none;}
#system-message DD.error UL {color: #C00;background: #E6C0C0 url(../../system/images/notice-alert.png) no-repeat 4px center;border-top: 3px solid #DE7A7B;border-bottom: 3px solid #DE7A7B;padding-left: 40px;text-indent: 0;margin: 0;}
/*System Notice Messages*/
#system-message DT.notice {display: none;}
/*System Notice Messages*/
#system-message DD.notice UL {color: #C00;background: #EFE7B8 url(../../system/images/notice-note.png) no-repeat 4px center;border-top: 3px solid #F0DC7E;border-bottom: 3px solid #F0DC7E;}
/*Debug*/
#system-debug {color: #CCC;background-color: #FFF;margin: 10px;padding: 10px;}
#system-debug DIV {font-size: 11px;}
/*Form validation*/
.invalid {border-color: #FF0000;}
LABEL.invalid {color: #FF0000;}
/*Buttons*/
#editor-xtd-buttons {padding: 5px;}
.button2-left, .button2-right, .button2-left DIV, .button2-right DIV {float: left;}
.button2-left A, .button2-right A, .button2-left SPAN, .button2-right SPAN {display: block;height: 22px;float: left;line-height: 22px;font-size: 11px;color: #666;cursor: pointer;}
.button2-left SPAN, .button2-right SPAN {cursor: default;color: #999;}
.button2-left .page A, .button2-right .page A, .button2-left .page SPAN, .button2-right .page SPAN {padding: 0 6px;}
.page SPAN {color: #000;font-weight: 700;}
.button2-left A:hover, .button2-right A:hover {text-decoration: none;color: #0B55C4;}
.button2-left A, .button2-left SPAN {padding: 0 24px 0 6px;}
.button2-right A, .button2-right SPAN {padding: 0 6px 0 24px;}
.button2-left {background: url(../images/j_button2_left.png) no-repeat;float: left;margin-left: 5px;}
.button2-right {background: url(../images/j_button2_right.png) no-repeat 100% 0;float: left;margin-left: 5px;}
.button2-left .image {background: url(../images/j_button2_image.png) no-repeat 100% 0;}
.button2-left .readmore {background: url(../images/j_button2_readmore.png) no-repeat 100% 0;}
.button2-left .pagebreak {background: url(../images/j_button2_pagebreak.png) no-repeat 100% 0;}
.button2-left .blank {background: url(../images/j_button2_blank.png) no-repeat 100% 0;}
/*Tooltips*/
DIV.tooltip {float: left;background: #FFC;border: 1px solid #D4D5AA;max-width: 200px;z-index: 13000;padding: 5px;}
DIV.tooltip H4 {font-size: 95%;font-weight: 700;background: url(../images/selector-arrow.png) no-repeat;margin: -15px 0 0;padding: 15px 0 5px;}
DIV.tooltip P {font-size: 90%;margin: 0;}
/*Caption fixes*/
.img_caption.left {float: left;margin-right: 1em;}
.img_caption.right {float: right;margin-left: 1em;}
.img_caption.left P {clear: left;text-align: center;}
.img_caption.right P {clear: right;text-align: center;}
/*Calendar*/
A IMG.calendar {width: 16px;height: 16px;margin-left: 3px;background: url(../images/calendar.png) no-repeat;cursor: pointer;vertical-align: middle;}
/*Joomlashack included styles*/
P.info {background: #F8FAFC url(../images/icon_assets.gif) no-repeat 3px -447px;text-align: left;border-top: 2px solid #B5D4FE;border-bottom: 2px solid #B5D4FE;margin: 0.75em 0;padding: 0.05em 20px 0.05em 45px;}
P.warn {background: #FFF7C0 url(../images/icon_assets.gif) no-repeat 3px -147px;text-align: left;border-top: 2px solid #F7D229;border-bottom: 2px solid #F7D229;margin: 0.75em 0;padding: 0.05em 20px 0.05em 45px;}
P.alert {background: #FBEEF1 url(../images/icon_assets.gif) no-repeat 3px -297px;text-align: left;border-top: 2px solid #FEABB9;border-bottom: 2px solid #FEABB9;margin: 0.75em 0;padding: 0.05em 20px 0.05em 45px;}
UL.checklist LI {background: url(../images/icon_assets.gif) no-repeat 0 4px;line-height: 24px;padding-left: 20px;list-style: none;}
/*CODE*/
PRE {border: 1px dotted #E8E8E8;border-left: 10px solid #B4B4B4;background: #FAFAFA;font-size: 120%;color: #304257;font-family: "Courier New", Courier, monospace;line-height: 100%;white-space: normal;margin: 10px 0;padding: 5px 0 5px 10px;}
/*warning, info and alert styles*/
P.quote {color: #424242;letter-spacing: 0.2em;text-align: center;text-transform: uppercase;border-bottom: 4px solid #EEE;border-top: 4px solid #EEE;font: normal small-caps normal 1em/125% Georgia, Garamond, Times, serif;margin: 24px auto;padding: 5px;}
P.quote:first-letter {display: block;float: left;font-size: 250%;margin: 4px 0 0;}
/*@group Joomla Specific Styles*/
.articleheading H2 A {text-decoration: none;}
/*@group Columns*/
.cols1 {display: block;float: none !important;margin: 0 !important;}
.cols2 {width: 47.7%;}
.cols3 {width: 30.9%;}
.cols4 {width: 22.4%;}
.column1, .column2, .column3, .column4 {float: left;margin: 0;}
.column2, .column3, .column4 {margin-left: 20px;}
.article_column {margin-top: 10px;}
.row_separator {display: block;clear: both;border: 0px solid #000000;margin: 0;}
.form-login UL LI {list-style: none;}

BODY {margin: 0;color: #888;font: 13px/1.5 "Lucida Grande", Lucida, Verdana, sans-serif;}
#logo-graphic H1 {margin: 10px 0 0;}
#logo-graphic H1 A {-moz-background-clip: border;/*-moz
-background-inline-policy: continuous
-moz-background-origin: padding*/
	background: transparent url(../images/logo.png) no-repeat scroll 0 0;display: block;margin: 0;padding: 0;text-indent: -8000em;}
/*--TEMPLATE TYPOGRAPHY and MISC--*/
H1, H2, H3, H4, H5, H6 {font-family: Georgia, "Times New Roman", Times, serif;font-weight: normal;font-style: normal;}
H3, H5 {color: #777;}
#banner, #banner H3, #footer, #footer H3 {color: #FFF;}
#copyright, .designer {font-family: Georgia, "Times New Roman", Times, serif;}
/*--JOOMLA CORE STYLES--*/
.article-icons {float: right;}
.leading {background-color: #F7F8F8;padding: 10px;border: 1px solid #EEE;}
.small, .createdate, .modifydate {color: #999;font-size: 9px;line-height: 15px;margin-bottom: 20px;margin-left: 5px;}
.modifydate {margin: 0;}
/*--HEADER--*/
#headerWrapper {/*[d
isabled]height:144px;*/
	overflow: hidden;}
#inset div.moduletable h3 {margin-bottom: 5px;}
/*LOGO*/
#logo-text H1 {margin: 40px 0 0;padding: 0;line-height: 30px;font-weight: bold;}
#logo-text H1 A {text-decoration: none;font-size: 2em;font-weight: bold;}
/*INSET/QUOTE*/
#inset .moduletable {margin: 12px 0 0;color: #999;font: 1.2em Georgia, "Times New Roman", Times, serif;line-height: 24px;}
/*--MAIN MENU--*/
#menuWrapper {height: 39px;overflow: hidden;}
#menu UL {list-style: none;margin: 0;font-family: Georgia, "Times New Roman", Times, serif;}
#menu UL LI {float: left;margin: 0;}
#menu UL LI A {display: block;font-size: 1.6em;text-decoration: none;padding: 4px 20px 3px;text-shadow: #000 0 1px 1px;}
#menu UL UL {position: absolute;list-style: none;margin: 0 0 0 9px;left: -9999px;z-index: 9999;}
#menu UL UL LI {position: relative;}
#menu UL UL UL {top: 0;margin: 0 0 0 300px;left: -9999px;z-index: 9999;}
#menu UL UL LI {margin: 0;float: none;}
#menu UL UL LI A {margin: 0;padding: 10px;border-right: none;}
#menu UL UL A, #menu UL LI#current UL A {width: 280px;font-size: 16px;text-align: left;margin: 0;background: none;}
#menu UL UL LI A:hover, #menu UL LI#current UL LI A:hover {background: #87CE13;}
#menu UL LI:hover UL, #menu UL LI.hover UL {left: auto;}
#menu UL LI:hover UL UL, #menu UL LI.hover UL UL {left: -9999px;}
#menu UL UL LI:hover UL, #menu UL UL LI.hover UL {left: auto;}
/*--MAIN AREA--*/
#main_wrapper {background-color: #EEE;line-height: 1.9em;font-size: 0.9em;}
#main_area_wrapper {background-color: #DDD;}
#area_content {background-color: #FFF;padding: 20px 0;}
.inside {padding: 10px;}
/*USER1*/
#user1 {margin-bottom: 20px;}
/*SIDEBAR MODULES*/
.left .moduletable, .right .moduletable, .moduletables1, .moduletables2, .moduletables3, .moduletables4 {margin-bottom: 20px;}
.left .moduletable UL, .right .moduletable UL, .moduletables1 UL, .moduletables2 UL, .moduletables3 UL, .moduletables4 UL {margin: 0;list-style: none;}
.left .moduletable UL LI, .right .moduletable UL LI, .moduletables1 UL LI, .moduletables2 UL LI, .moduletables3 UL LI, .moduletables4 UL LI {margin: 0 0 10px;}
/*ROUNDED CORNER SETUP*/
#banner .module, #footer .module, .left .moduletable, .right .moduletable, .moduletables1, .moduletables2, .moduletables3, .moduletables4 {position: relative;/*widt
h: 100%;*/}
.left .moduletable, .right .moduletable {background-color: #F7F8F8;}
.module .side, .moduletable .side, .moduletables1 .side, .moduletables2 .side, .moduletables3 .side, .moduletables4 .side {position: absolute;width: 10px;height: 10px;font-size: 0%;}
#banner .module, #footer .module {margin-top: 10px;margin-bottom: 10px;}
.module .module_body, .moduletable .module_body, .moduletables1 .module_body, .moduletables2 .module_body, .moduletables3 .module_body, .moduletables4 .module_body {padding: 15px;}
.side {background: url(../images/round_circle.png) no-repeat;}
.TL {top: 0;left: 0;background-position: 0 0 !important;}
.TR {top: 0;right: 0;background-position: -15px 0 !important;}
.BL {bottom: 0;left: 0;background-position: 0 -15px !important;}
.BR {bottom: 0;right: 0;background-position: -16px -15px !important;}
.left .moduletable H3, .right .moduletable H3, .moduletables1 H3, .moduletables2 H3, .moduletables3 H3, .moduletables4 H3 {padding: 15px 15px 0;margin: 0;line-height: 25px;}
.left .moduletable H3, .right .moduletable H3 {border-top: 1px solid #CCC;border-right: 1px solid #CCC;border-left: 1px solid #CCC;}
#banner .module H3, #footer .module H3 {padding: 10px 15px 0;margin: 0;}
.left .moduletable .module_body, .right .moduletable .module_body {border-right: 1px solid #CCC;border-left: 1px solid #CCC;border-bottom: 1px solid #CCC;}
.left .moduletable .module_body.notitle, .right .moduletable .module_body.notitle {border-top: 1px solid #CCC;}
.modulenone .module_body {border: none !important;}
/*Blue corners*/
.moduletables1 {background-color: #1E5D74;color: #FFF;}
.moduletables1 .side {background: url(../images/round_circleBLUE.png) no-repeat;}
.moduletables1 H3 {color: #FFF;}
.moduletables1 A {color: #FFF;text-decoration: underline;}
/*Red corners*/
.moduletables2 {background-color: #AA2518;color: #FFF;}
.moduletables2 .side {background: url(../images/round_circleRED.png) no-repeat;}
.moduletables2 H3 {color: #FFF;}
.moduletables2 A {color: #FFF;text-decoration: underline;}
/*Green corners*/
.moduletables3 {background-color: #54800C;color: #FFF;}
.moduletables3 .side {background: url(../images/round_circleGREEN.png) no-repeat;}
.moduletables3 H3 {color: #FFF;}
.moduletables3 A {color: #FFF;text-decoration: underline;}
/*Brown corners*/
.moduletables4 {background-color: #3A2E2E;color: #FFF;}
.moduletables4 .side {background: url(../images/round_circleBROWN.png) no-repeat;}
.moduletables4 H3 {color: #FFF;}
.moduletables4 A {color: #FFF;text-decoration: underline;}
/*BREADCRUMB*/
#main_breadcrumb {margin-bottom: 20px;padding: 1px;font-size: 11px;}
#main_breadcrumb SPAN.top {margin: 0;text-indent: -9999px;line-height: 0;display: block;}
#main_breadcrumb .module_body {padding-left: 40px;}
#main_breadcrumb A {text-decoration: none;}
/*--FOOTER--*/
#copyright {margin: 15px 15px 0;}
.designer {margin: 0 10px 20px;}
/*JomSocial*/
.loginform {position: relative;}
.FB_login_button {position: absolute;top: -30px;right: 0;}
#latest-members DIV.app-box-header DIV.app-box-header DIV.app-box-menus {padding: 0 !important;margin: 3px 10px;}